.card {
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 10px;
    padding: 10px;
    width: 45%;
    float: left;
    font-family: sans-serif;
}

.card h3 {
    margin: 0;
    padding: 10px;
    background-color: #444;
    color: white;
}

.btn {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    font-size: larger;
}

.btn.on {
    background-color: black;
    color: white;
}

.btn.off {
    background-color: gray;
    color: white;

}

.brightness-control,
.switch-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: table;
    width: 100%;

}


.brightness-control .name {
    /* text-align: left; */
    font-weight: bolder;
    font-size: larger;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}

.brightness-control input {
    width: 40px;
    display: table-cell;
    vertical-align: middle;
}

.brightness-control button {
    margin-left: 5px;
    padding: 8px 16px;
    font-size: larger;
    cursor: pointer;
}

.fa {
    margin-right: 8px;
}

.card-header {
    background-color: #444;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #333;
    font-weight: bold;
}

.card-body {
    padding: 10px;
    background-color: #f9f9f9;
}

.sensor-row {
    margin-top: 20px;
    margin-bottom: 20px;
    display: table;
    width: 100%;
    padding: 4px 0;
    border: 1px solid darkgray;
    border-radius: 6px;
}

.sensor-row .icon,
.sensor-row .name,
.sensor-row .value {
    display: table-cell;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sensor-row .icon {
    padding-left: 10px;
    text-align: left;
}

.sensor-row .name {
    text-align: left;
    font-weight: bolder;
    font-size: larger;
}

.sensor-row .value {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    font-size: larger;
}

.sensor-row i {
    margin-right: 8px;
    width: 16px;
    text-align: center;
    display: inline-block;
}