body {
    font-family: sans-serif;
}

#tab-list {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    font-size: large;
}

#tab-list li {
    display: inline-block;
    margin-right: 5px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 8px 8px 0 0;
    background-color: white;
}

#tab-list li.active {
    background-color: black;
    border-bottom: 1px solid white;
    color: white;
}


#tab-content {
    border: 2px solid black;
    border-radius: 0 8px 8px 8px;
    padding: 10px;
    background-color: white;
    min-height: 200px;
}

#dashboard {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* controls the device - e.g. light brigtness or radiator thermostat */
.controls-wrapper {
    display: inline-block;
    border: 2px solid black;
    border-radius: 8px;
    font-family: sans-serif;
    margin: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.controls-button,
.controls-display {
    display: inline-block;
    padding: 8px 16px;
    font-size: x-large;
    min-width: 100px;
    width: 100px;
    margin-left: 3px;
    margin-right: 3px;
}


.controls-button {
    border: 1px solid black;
    border-radius: 8px;
    background-color: black;
    color: white;
}

.controls-button:disabled {
    background-color: lightgray;
    color: darkgray;
}

.controls-display {
    background-color: white;
    min-width: 60px;
    text-align: center;
}

/* on / off for devices */
.device-switch {
    display: inline-block;
    width: 68px;
    height: 68px;
    border: 2px solid grey;
    border-radius: 50%;
    text-align: center;
    line-height: 68px;
    font-size: x-large;
    color: grey;
    background-color: white;
    margin: 10px;
    margin-right: 20px;
    vertical-align: middle;
}

.device-switch.on {
    color: black;
    background-color: white;
    border: 2px solid black;
}

.device-switch i {
    line-height: inherit;
    vertical-align: middle;
}

.device-control-wrapper {
    width: 100%;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    font-size: 0;
}

.device-control-left,
.device-control-right {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: initial;
}


.device-control-left {
    text-align: left;
    padding-right: 10px;
}

.device-control-right {
    text-align: right;
    padding-left: 10px;
    vertical-align: middle;
    line-height: 1;
}


.device-control-text {
    display: inline-block;
    font-size: x-large;
    margin: 0 10px;
    vertical-align: middle;
}

/* display for sensor data like temperature or humidity */
.sensor-display-wrapper {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    font-family: sans-serif;
    overflow: hidden;
}

.sensor-cell {
    float: left;
    height: 78px;
    padding: 0 10px;
    box-sizing: border-box;
    line-height: 2;
}

.sensor-cell.left-cell {
    width: 50%;
    text-align: left;
    white-space: nowrap;
}

.sensor-cell.right-cell {
    width: 50%;
    text-align: right;
    font-weight: bold;
}

/* icon und label inline-block mit vertikaler Mitte */
.sensor-icon-wrapper,
.sensor-label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

.sensor-icon-wrapper {
    width: 58px;
    height: 58px;
    background-color: white;
    text-align: center;
    line-height: 58px;
}

.sensor-icon-wrapper i {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-size: xx-large;
}

.sensor-label {
    display: inline-block;
    font-size: x-large;
    margin-right: 10px;
    vertical-align: middle;
}

.sensor-value {
    display: inline-block;
    font-size: x-large;
    font-weight: bold;
    vertical-align: middle;
}

/* status display for e.g. door and window sensors */
.device-status-wrapper {
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    font-family: sans-serif;
    font-size: x-large;
    background-color: white;
    white-space: nowrap;
    vertical-align: middle;
}

.device-status-icon {
    margin-right: 30px;
    margin-left: 10px;
    vertical-align: middle;
    font-size: xx-large;
}

.device-status-label {
    display: inline-block;
    vertical-align: middle;
    font-size: x-large;
}


/* aggregating different sensors and switches and so on */

.card {
    border: 2px solid black;
    border-radius: 8px;
    margin: 20px;
    padding: 5px;
    font-family: sans-serif;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    width: 94%;
}

.card-header {
    background-color: white;
    padding: 10px 16px;
    font-size: x-large;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.card-body {
    padding: 16px;
    gap: 10px;
}

.card-body>* {
    display: block;
    margin: 0 auto 10px;
    box-sizing: border-box;
}

.card-body>*:last-child {
    margin-bottom: 0;
}