.card {
border: 1px solid #ccc;
    border-radius: 6px;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    font-family: sans-serif;
    clear: both;
}

.card h3 {
    margin: 0;
    padding: 10px;
    background-color: #444;
    color: white;
}

.btn {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    font-size: larger;
}

.btn.on {
    background-color: black;
    color: white;
}

.btn.off {
    background-color: gray;
    color: white;
}

.light-switch-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: table;
    width: 100%;
    padding: 4px 0;
    border: 1px solid darkgray;
    border-radius: 6px;
}

.light-switch-container .icon,
.light-switch-container .inner-part {
    display: table-cell;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.light-switch-container .icon {
    padding-left: 10px;
    text-align: left;
}

.fa {
    margin-right: 8px;
}

.card-header {
    background-color: #444;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #333;
    font-weight: bold;
}

.card-body {
    padding: 10px;
    background-color: #f9f9f9;
}

.sensor-row,
.sensor-row-inner {
    margin-top: 20px;
    margin-bottom: 20px;
    display: table;
    width: 100%;
    padding: 4px 0;
    border: 1px solid darkgray;
    border-radius: 6px;
}

.sensor-row-inner {
    width: 97%;
}

.sensor-row .icon,
.sensor-row .name,
.sensor-row .value,
.sensor-row-inner .icon,
.sensor-row-inner .name,
.sensor-row-inner .value {
    display: table-cell;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sensor-row .icon,
.sensor-row-inner .icon {
    padding-left: 10px;
    text-align: left;
}

.sensor-row .name,
.sensor-row-inner .name {
    text-align: left;
    font-weight: bolder;
    font-size: x-large;
}

.sensor-row .spacing,
.sensor-row-inner .spacing {
    padding-left: 10px;
}

.sensor-row .value,
.sensor-row-inner .value {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    font-size: larger;
}

/* Anpassung hier: feste Breite für das Helligkeit-Input-Feld */
.sensor-row-inner .value .brightness {
    /* width: 60px; */
    box-sizing: border-box;
    font-weight: bold;
    margin-right: 5px;
}

/* Buttons daneben nicht zu breit */
.sensor-row-inner .value .button {
    /* width: 30px; */
    font-weight: bold;
    padding: 4px 0;
    margin-left: 2px;
    margin-right: 2px;
}

.sensor-row-inner .button {
    background-color: black;
    color: white;
    width: 60px;
}

.sensor-row-inner input {
    max-width: 20%;
}

/* Icon-Breite bei Sensoren */
.sensor-row i {
    margin-right: 8px;
    width: 16px;
    text-align: center;
    display: inline-block;
}
